/*
.contenedor-img{
	position:relative;
}

.contenedor-img span{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    font-size: 4em;
    margin-top: -28px;
    color: #e7e7e7;
}
*/

.contenedor-info-contacto2{
	margin-top:25px;
	margin-bottom:25px;
}

#video-principal-desktop img{
	max-height:160px;
}

.img-logo-showroom{
	max-height:100px;
	margin-bottom:5px;
}

.btn-pais{
	min-width:125px;
	text-align: left;
	
}

#panel-contacto-showroom-sky{
   border-radius: 9px;
   overflow: hidden;
   box-shadow: 0 0 10px -3px;
   margin-bottom: 20px;
}

.btn-envio-correo{
	color:#fff;
}

.caja-check{
	margin-top:10px;
	right:15px;
	text-align: center;
}

.contenedor-producto-destacado:hover{
	background-color:#f3f3f3;
	border-radius: 10px 10px 0px 0px;
}
.contenedor-producto-destacado{
	padding: 15px;
	border-top: 1px solid #eee;
}

#cuerpo-modal-proveedor{
	max-height:350px;
	overflow-y: auto;
}

.img-producto{
	width: 120px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px black;
	margin: 0px 15px 15px 0px;
}

.img-producto-resenado{
	height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px #000;
    margin: 2px 0px 2px 2px;
}

.contenedor-producto-resenado .descripcion{
	color:#000;
}
.contenedor-producto-resenado{
	margin-bottom:20px;
	background-color: white;
	padding: 8px;
	border-radius: 10px;
	box-shadow: 0 0 10px -3px black;
	overflow: hidden;
}

.checkbox-productos-resenados{
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.lista-portafolio{
	list-style-image: url(/recursos/imagenes/plantilla/item.png);
}

.active-verde{
	background-color: #5cb85c;
	font-size: 1.5em;
}


/*Efecto de desapariciÃ³n de la descripcion de la empresa*/
.descripcion-colapsada{
	max-height: 224px;
    overflow: hidden;
    position: relative;
}
.descripcion-colapsada:after {
	position: absolute;
    bottom: 0px;
    height: 35%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 20%, rgba(255,255,255, 0) 80% );
    pointer-events: none;
}
/*FIN Efecto de desapariciÃ³n de la descripcion de la empresa*/

/*Contenedor de cada seccion del showroom*/
.contenedor{
	margin-top:20px;
}
.contenedor-lista-productos-resenados {
	
margin-top: 20px;
}


#cuerpo-modal-proveedor ul{
	list-style-position: inside;
	padding:0px;	
}

#redes-sociales-empresa a{
	margin-left: 12px;
	margin-right: 12px;
}

@media ( min-width : 768px){
	.contenedor-descripcion{
		width:calc(100% - 2.6em)
	}
	.caja-check{
		margin-top:10px;
		position:absolute;
		top:30%;
		margin-right: 8px;
		
	}
	.contenedor-lista-videos{
		max-height: 231px;
	    overflow: auto;
	    background-color: #fff;
	}
	#prominent-banner-1{
		width:285px;
	}
}

@media ( min-width : 992px){
	.contenedor-img img{
		width: 110px;
	    height: 84px;
	}
	#prominent-banner-1{
		width:293px;
	}
}

@media ( min-width : 1200px){
	.contenedor-img img{
		width: 143px;
	    height: 84px;
	}
	#prominent-banner-1{
		width:360px;
	}	

}