.logo-asociacion{
	width: 150px;
	height: 150px;
	float: left;
	border: none;
	box-shadow: 0 0 10px -3px black;
	border-radius: 10px;
	margin: 0px 20px 20px 0px;
}
.no-padding-ul ul{
	padding-left:0px;
}