#boton-play{
	position:absolute; 
	width: 91%;
	top:31%;
	font-size:5.5em;
	color:#e7e7e7;
}

#galeria-boton-izq, #galeria-boton-der{
	max-height:50px;
	background-image:none;
}
#btn-flecha-izq, #btn-flecha-der{
	color:#016AAB;
	margin-left:-22px;
	margin-right:-22px;
}
#galeria-imagenes, #galeria-videos{
	max-height:50px;
}

.galeria-miniaturas img{
	max-height:50px;
}
@media screen and (min-width: 768px){
	#btn-flecha-izq, #btn-flecha-der{
		font-size:1em;
	}
}
.panel-body{
	background-color: #F9F9F9;
}
.nav-tabs a{
	background-color: #eaeaea;
	color: #777;
}
#img-principal.img-zoom img, #img-principal.img-zoom a{
	cursor: zoom-in;
}
.nav-tabs .active a{
	background-color: #F9F9F9;
	color: #555;
}

#tabs a{
	padding: 7px;
	border: none;
	border-radius: 0px;
	color: white;
	background: #4191d6;
	text-shadow: 0 0 6px black;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 12px;
	border-right: solid 1px;
	border-color: #0050b3;
	margin-left: -2px;
}

.contenedor-galeria .panel-body{padding: 0px;}
.panel img{
	overflow: hidden;
	padding: 0;
	width: auto;
	box-shadow: 0 0 10px -4px black;
	border: none;
	border-radius: 0px;
}
.contenedor-galeria {
	border: none;
	box-shadow: 0 0 10px -3px black;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	background: white;
	margin: 0px 10px 10px 0px;
}
.contenedor-galeria .tab-content{
	margin:0px;
}
#imagenes{
	background: black;
    width: 120%;
    margin-left: -10%;
}
.contenedor-galeria .nav-tabs{
	background-color: #016AAB;
	border-bottom: solid 1px #016AAB;
}