h1{
	font-size: 28px;
}
.img-bloguero-home{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.img-bloguero-home-movil{
	max-width: 80px;
	max-height: 80px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    text-align: center;
    border-bottom: solid 2px orange;
    width: 180px;
    margin: 0 auto;
}
.panel {
    min-height: 235px;
}
