.contenedor-izquierda{
	background-color: white;
	border: none;
}

.logo-guia-proveedores{
	width: 70%;
}

.panel{
	border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px black;
    overflow: hidden;
}