@font-face {
	font-family: Nexa;
	src: url('../../fonts/Nexa Bold.otf');
}

header {
	background-color: #016AAB;
	background-image: linear-gradient(to right, #016AAB 0%, #005085 100%);
	box-shadow: 0px 0px 5px black;
	z-index: 12;
	position: relative;
	border-radius: 0;
}

/**Cambiar color de los icnonos*/
.navbar-right span {
	color: #154488;
}
/*Fin*/

.navbar {
	margin-bottom: 0px;
}

#header-nav {
	background-color: #fff;
	border-top: none;
	border: none;
	box-shadow: 0px 0px 11px -3px black;
	border-radius: 0 0px 10px 10px;
}
#header-nav #header-nav-principal li:hover{
	border-bottom:solid 3px orange;
}
#header-boton-busqueda:hover{
	border-bottom: none;
}

#header-menu-desplegable{
	border-left: solid 1px #ccc;
}

#header-contenedor{
    height: 76px;
}

#header-logo{
	margin-top: 4px;
}

#header-logo img{
	height: 68px;
}

#headline-banner img{
	min-height: 60px;
}

.border-bottom-xs-1{
	border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
	.border-bottom-xs-1{
		border-bottom: none;
	}	
	#header-logo {
	    margin-top: 0px;
	    position: absolute;
	}
	#header-contenedor{
    	height: 88px;
	}
	#header-logo img {
		height: 74px;
		margin-top: 5px;
	}
	.padding-menu{
		padding-left:0px;
		padding-right:0px;
	}
	.padding-left-sm-3{
		padding-left:15px;
	}
	.border-right-sm-1{
		border-right: solid 1px #ccc;
	}
	.menu-grande{
		margin-left:96px;
		width:85%;
	}
}

@media (min-width: 992px){
	.padding-left-md-3{
		padding-left:15px;
	}
}

@media (min-width: 1200px){
	.padding-left-lg-3{
		padding-left:15px;
	}
	.border-right-lg-1{
		border-right: solid 1px #ccc;
	}
}

#header-redes{
	/*font-family: Nexa;*/
	background-color: #004475;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    font-size: 2em;
    margin-right:10px;
}

#header-redes img, #header-moviles-redes img {
    display: inline-block;
    /*max-height:28px;*/
}
#header-contenedor-redes{
	margin:4px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
}

#header-ingresa-registrate {
	font-size: 1.3em;
}

#header-ingresa-registrate div:nth-child(1) {
	background-color: white;
	color: #154488;
	padding: 5px 15px;
	font-size: 15px;
	text-align: center;
	border-top: solid 2px #4AAC35;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0 0 5px black;
}

#header-redes-cabezote{
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 10px;
	font-size: 22px;
	color: #337ab7;
	border-top: solid 2px #4AAC35;
	background-color: #fff;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0 0 5px black;
}

#header-redes-cabezote>li {
	display: inline;
	text-align: center;
}

#header-redes-cabezote>li>a {
	text-decoration: none;
}

#header-ingresa-dropdown{
	padding: 5px;
	margin-top: -12px;
	margin-right: -1px;
	border-top: none;
	width: 264px;
	border-radius: 0px 0px 10px 10px;
}
#header-ingresa-dropdown input{
	display: block;
	margin-bottom: 5px;
	width: 250px;
}

#header-busqueda, #header-autenticacion {
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	/*
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	*/
	border-top: 1px solid #ccc;
}

#header-busqueda input, #header-busqueda button {
	border-radius: 3px;
	border-radius: 3px;
}

#header-busqueda div>span {
	padding-left: 3px;
}

#header-nav-principal .dropdown-menu{
	background-color: #f7f7f7;
}

#header-nav-principal .dropdown-menu li {
	border-top: solid 1px #eee;
}

#header-nav-principal .dropdown a:active, #header-nav-principal .dropdown a:focus {
	background-color: #2290c1;
	color: #fff;
}

#header-nav-principal .dropdown-menu li:first-child{
	border-top: none;
}

#header-nav-principal .nav-divider {
	margin-top: 0;
	margin-bottom: 0px;
}

#header-icono-usuario {
	height: 34px;
	width: 42px;
}

#header-forma-ingreso {
	border:0px;
}

#header-autenticacion input{
	width: 200px;
}

#header-moviles-redes {
	padding-top: 10px;
	padding-right: 15px;
	font-size: 2em;
}
#header-busqueda-movil{
	padding-top:18px; 
}
#header-logo-diagonal{
	position: absolute;
	margin-left: 250px;
}
#cabezote #contenedor-headline .img-responsive{
	box-shadow: 0 0 10px black;
}
#header-logo-diagonal img{
	height: 91px;
    transform: rotate(6deg);
}

#header-ingresa-registrate .dropdown-backdrop{
	display:none;
}

#menu-usuario .nav-divider{
	margin:0px;
}

.menu-fijo{
	position:fixed;
	top:0px;
	z-index:9;
}
.navbar-altura{
	max-height:340px;
}

.logo-plasticsn{
	max-width:25px;
	padding-top:3px;
}


#header-nav-principal
{
	display: block;
	text-align: center;
	max-width: 930px;
	float: none;
	min-height: 53px;
}
.nav.navbar-nav.navbar-right.hidden-xs
{
	position: absolute;
	top: 0;
	right: 10px;
}

